apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: shop-prod
spec:
  selector:
    app: notification-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
