apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: shop-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: ghcr.io/adisoncavani/shop-microservices/order-service:0.0.4
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: order-service
