apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: prod-shop
spec:
  selector:
    app: order-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 50051
      targetPort: 50051
