apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: prod-shop
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: ghcr.io/adisoncavani/shop-microservices/product-service:0.0.18
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: env-shared
            - secretRef:
                name: shared-secrets
            - secretRef:
                name: product-service
          env:
            - name: OTEL_SERVICE_NAME
              value: product-service
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "k8s.pod.name=$(K8S_POD_NAME)"
