apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: shop-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: ghcr.io/adisoncavani/shop-microservices/product-service:0.0.5
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: product-service
