apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: shop-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: ghcr.io/adisoncavani/shop-microservices/product-service:0.0.5
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: product-service
          env:
            - name: Kestrel__EndpointDefaults__Protocols
              value: "Http2"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://aspire-dashboard:18889"
            - name: OTEL_SERVICE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: shop-prod
spec:
  selector:
    app: product-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
