apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: shop-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: ghcr.io/adisoncavani/shop-microservices/product-service:0.0.7
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: env-shared
            - secretRef:
                name: shared-secrets
            - secretRef:
                name: product-service
          env:
            - name: OTEL_SERVICE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: shop-prod
spec:
  selector:
    app: product-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
