apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  namespace: shop-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec:
      containers:
        - name: identity-service
          image: ghcr.io/adisoncavani/shop-microservices/gateway:0.0.3
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: identity-service
