apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  namespace: shop-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec:
      containers:
        - name: identity-service
          image: ghcr.io/adisoncavani/shop-microservices/gateway:0.0.5
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: env-shared
            - secretRef:
                name: shared-secrets
            - secretRef:
                name: identity-service
          env:
            - name: OTEL_SERVICE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: shop-prod
spec:
  selector:
    app: identity-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
